.vscode
*.pyc
*.pth
__pycache__
checkpoints
result
runs
.ssh*
.rsyncignore
bak
*.zip
results
raw_data
processed_data
docs/
imgs/
workspace/logs/
results*/
.ipynb_checkpoints/
自己的图片.rar
images_5.rar
workspace/
workspace.rar